body {
  background-color: rgb(38, 56, 158);
}

.top1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  color: white;
}

.top1 {
  font-size: 5rem;
}

.top2 {
  font-size: 2rem;
}

.top2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fincont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.pfinal {
  display: flex;
  background-color: lightgray;
  padding: 0.5% 17%;
}

.quescont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fq {
  border: 1px black solid;
  padding: 8% 17%;
  color: white;
}

.inputcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 4em 0 1em;
}

.inp {
  height: 3vh;
  width: 15%;
}

.cont1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pcont {
  background-color: lightgray;
  padding: 0.5% 1.5%;
}
.lots {
  display: flex;
  justify-content: center;
}
.footercont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 10%;
  background-color: lightgray;
  width: 50%;
  text-decoration: underline;
}
