body {
  background-color: rgb(204, 204, 255);
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  flex-direction: row;
  height: auto;
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  max-width: 50%;
  color: black;
}
.imagej {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

img {
  width: 75%;
  height: auto;
}
.same {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5% 0 0;
  background-color: darkgray;
  width: 20%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 10%;
  background-color: darkgray;
  width: 50%;
  text-decoration: underline;
}
